
$global-background: #0a0714;
$global-primary: #41a4c2;
$global-accent: #ffffff;
$global-accent-strong: #cccccc;
$global-body-text: #cccccc;
$blue: #41a4c2;


body {
    background-color: $global-background;
  }
  
  h1 {
    color: $global-primary;
    font-family: "IBM Plex Sans Medium", Arial, Sans-Serif;
    font-size: 5em;
    font-weight:500;
    text-align: left;
    line-height: 50%;
  }
  
  h2 {
    color: $global-accent;
    font-family:"IBM Plex Sans", Arial, Sans-Serif;
    font-size: 3em;
    font-weight:200;
    text-align: left;
    line-height: 50%;
  }
  
  h3 {
    font-family:  "IBM Plex Sans", Arial, Sans-Serif;
    font-size: 3em;
    font-weight:200;
    color: $global-accent-strong;
    text-align: left;
    
  }

  a {
    font-family:  "IBM Plex Sans", Arial, Sans-Serif;
    font-size: 1em;
    font-weight:200;
    color: $global-accent-strong;
    text-align: left;
    
  }


  p {
    font-family:  "IBM Plex Sans", Arial, Sans-Serif;
    font-size: 1em;
    font-weight:200;
    color: $global-body-text;
    text-align: left;
    
  }

  .image
  {
    height:12em;
    width:18em;
    opacity:.5;
  }
  
  .image:hover
  {
    height:12em;
    width:18em;
    opacity:1;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
  }


  .color1
  {
    background-color: $blue;
    height:12em;
    width:18em;
    opacity:.5;
  }
  
  .color1:hover
  {
    background-color: $blue;
    height:12em;
    width:18em;
    opacity:1;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
  }

  li {display: inline-block;
      text-align: center;}

 