
$global-background: #0a0714;
$global-primary: #41a4c2;
$global-accent: #fff;
$global-accent-strong: #ccc;

body {
    background-color: $global-background;
  }
  

  div {height:10em;}
  h1 {
    color: $global-primary;
    font-family: "IBM Plex Sans Medium", Arial, Sans-Serif;
    font-size: 5em;
    font-weight:500;
    text-align: left;
    line-height: 50%;
  }
  
  h2 {
    color: $global-accent;
    font-family:"IBM Plex Sans", Arial, Sans-Serif;
    font-size: 3em;
    font-weight:200;
    text-align: left;
    line-height: 50%;
  }
  
  h3 {
    font-family:  "IBM Plex Sans", Arial, Sans-Serif;
    font-size: 3em;
    font-weight:200;
    color: $global-accent-strong;
    text-align: left;
    
  }

div {
    font-family:  "IBM Plex Sans", Arial, Sans-Serif;
    font-size: 1em;
    font-weight:200;
    color: $global-accent-strong;
    text-align: left;
    
  }

  .image {
    opacity: .25;
    
  }

  .image:hover {
    opacity: 1;
    
  }